.slide-1 {
    background-image: url('../images/1.webp');
    .item-text-1 {
        width: 18rem;
        color: rgba(128, 128, 128, 0.9);
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        top: 18.5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }

  .item-text-2 {
    width: 18rem;
    color: rgba(128, 128, 128, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 20.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .item-text-3 {
    width: 18rem;
    color: rgba(128, 128, 128, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 22.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .item-text-4 {
    width: 18rem;
    color: rgba(128, 128, 128, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 24.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
}
