@import '../base/fonts';

.slide-8 {
  background-image: url('../images/8-top.jpeg');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;

  .slide-8-bg{
    background-image: url('../images/end-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
  }

  .slide-8-en {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 20vh;
    top: 40vh;

    color: black;
    font-size: 1rem;
    font-weight: bold;
    @extend .custom-font-love;
  }

  .slide-8-text-area {
    position: absolute;
    line-height: 2;
    text-align: center;
    top: 50vh;
    width: 100%;
    height: 100vh;

    color: black;
    font-size: 1rem;
    font-weight: bold;
    @extend .custom-font-love;
  }

}
