@import '../base/fonts';

.slide-3 {
  background-image: url('../images/3-1.webp');
}

//以下是3+4页的公共属性
.slide-bg {
  background: linear-gradient(
                  to top,
                  rgba(255, 255, 255, 1) 0%,
                  rgba(255, 255, 255, 0.9) 80%,  /* 中间过渡 */
                  rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0; /* 关键：固定在底部 */
}

.slide-newbie-avatar {
  background-image: url('../images/3-2.webp');
  background-size: cover; /* 确保图片覆盖整个容器 */
  background-position: center; /* 图片居中 */
  background-repeat: no-repeat; /* 防止图片重复 */

  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;

}

.slide-newbie{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  @extend .custom-font-love;

  position: absolute;
  top: 72.5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.slide-newbie-name{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  @extend .custom-font-love;

  position: absolute;
  top: 77.5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.slide-newbie-describe{
  color: black;
  font-size: 1rem;
  @extend .custom-font-love;

  position: absolute;
  top: 86.5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}