@import '../base/fonts';

.slide-1 {
  background-image: url('../images/1.webp');

  .item-text-1 {
    width: 18rem;
    color: rgba(128, 128, 128, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Great Vibes', cursive; // 优雅流畅的婚礼专用字体
    position: absolute;
    top: 19rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .item-text-2 {
    width: 18rem;
    color: rgba(128, 128, 128, 0.9);
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'Great Vibes', cursive; // 优雅流畅的婚礼专用字体
    position: absolute;
    top: 20.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .item-text-3-1 {
    width: 5rem;
    color: rgba(128, 128, 128, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    @extend .custom-font-love;
    position: absolute;
    top: 23.5rem;
    left: 0;
    right: 0;
    margin: 0 auto 0 24%;
    text-align: center;
  }

  .item-text-3-2 {

    color: rgba(210, 121, 165, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    @extend .custom-font-love;
    position: absolute;
    top: 23.5rem;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
  }

  .item-text-3-3 {
    width: 5rem;
    color: rgba(128, 128, 128, 0.9);
    font-size: 1.2rem;
    font-weight: bold;
    @extend .custom-font-love;
    position: absolute;
    top: 23.5rem;
    left: 0;
    right: 0;
    margin: 0 25% 0 auto;
    text-align: center;
  }

  .item-text-4 {
    width: 18rem;
    color: rgba(128, 128, 128, 0.9);
    font-size: 0.8rem;
    font-weight: bold;
    @extend .custom-font-love;
    position: absolute;
    top: 25.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
}
